.container {
  display: inline-block;
  width: 100%;
  height: 98.5vh;
  /* overflow: hidden; */
}
.inner {
  margin-top: 70px;
  height: 90.9%;
  display: flex;
}
.chatHolder {
  width: 100%;
  display: flex;
}
.fileSection {
  position: relative;
  overflow: auto;
  transition: all 0.5s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-right: 1px solid #dfdcd2; */
}
.arrow {
  font-size: 40px;
  z-index: 1000;
  height: 100%;
}
.fileSection input {
  margin: 0;
  border: none;
  outline: none;
  width: 100%;
  padding: 6px 10px;
  padding-right: 30px;
  font-family: Inter;
  border: 1px solid #dfdcd2;
  border-radius: 3px;
}
.searchBar {
  position: relative;
  width: 95%;
  text-align: center;
  margin: 10px 0px;
}
.searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  font-size: 20px;
}
.pdfSection {
  height: 100%;
  width: 50%;
  position: relative;
}
.pdfSection iframe {
  border: none;
}
.botSection {
  width: 50%;
}
.upperSection {
  height: 85%;
  border-left: 1px solid #e5e3da;
  overflow: auto;
  scroll-behavior: smooth;
}
.lowerSection {
  height: 15%;
  border: 1px solid #e5e3da;
  background-color: #f8f5ee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lowerSection form {
  width: 95%;
  margin: 0;
  padding: 0;
  position: relative;
}
.sendIcon {
  position: absolute;
  /* right: -5%; */
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}
.lowerSection input {
  outline: none;
  border: 1px solid rgb(229, 227, 218);
  background-color: white;
  width: 100%;
  font-size: 18px;
  font-family: Inter;
  padding: 15px;
  padding-right: 50px;
  border-radius: 5px;
}
.lowerSection input::placeholder {
  color: #9ca3af;
}
.userQuery {
  padding: 30px 25px;
  border-bottom: 1px solid rgb(229, 227, 218);
  display: flex;
  /* align-items: flex-start; */
  align-items: center;
  gap: 10px;
}
.userQuery p {
  margin: 0;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
}
.userIcon {
  width: 10%;
  font-size: 25px;
}
.logo {
  /* margin: 0 5px; */
  font-family: Kanit;
  font-weight: 500;
  font-size: 35px;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* width: 50px;
  height: 50px;
  border-radius: 50%; */
}

.first,
.second,
.third {
  background: rgb(67, 134, 141);
  background: linear-gradient(
    225deg,
    rgba(67, 134, 141, 1) 40%,
    rgba(156, 213, 197, 1) 90%
  );
  margin: 0 3px;
  border-radius: 2px;
  width: 8px;
  height: 30px;
}
.first {
  transform: rotate(20deg);
}
.botQuery {
  background-color: #f8f5ee;
}
.noFileSelected {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.noFileSelected h2 {
  font-family: Eudoxus sans;
  font-weight: 400;
  color: lightgray;
}
.pdfIcon {
  font-size: 40px;
  color: lightgray;
}
