.button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 12px 20px;
  font-family: Inter;
  /* font-size: 15px; */
  border-radius: 6px;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ff612f;
  font-size: 20px;
}
.uploadIcon {
  background-color: #ff612f;
  color: white;
  font-size: 20px;
}
