.outerContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faf9f6;
}
.innerContainer {
  display: inline-block;
  /* margin: 5vw auto; */
  margin: 84px auto;
  font-family: Inter;
  width: 25%; /* width of the visible form container */
  min-width: 355.6px;
  /* padding: 1.2vw 1.5vw; */
  padding: 20px 25px;
  background-color: #f8f5ee;
  border-radius: 5px;
  border: 1px solid rgb(229, 227, 218);
}
.innerContainer p {
  margin: 0;
  font-size: 19px;
  margin-bottom: 19px;
}
.innerContainer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 1vw; */
  gap: 17px;
}
.submitButton,
.googleLoginBtn,
.toggleBtn,
.innerContainer form input {
  outline: none;
  border: 1px solid rgb(229, 227, 218);
  font-size: 18px;
  font-family: inherit;
  /* padding: 0.7vw 1vw; */
  padding: 11.6px 17px;
  border-radius: 5px;
}
.submitButton {
  width: 100%;
  background-color: rgb(255, 97, 47);
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.toggleBtn {
  background-color: #553628;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin: 20px 0px;
}
.innerContainer h4 {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  color: #7c7a77;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(229, 227, 218);
  line-height: 0.1em;
  margin: 30px 0px;
}

.innerContainer h4 span {
  background: #f8f5ee;
  padding: 0 10px;
}
.googleLoginBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  cursor: pointer;
}
.googleIcon {
  font-size: 30px;
}
