.container {
  width: 100%;
  background-color: #062427;
  color: white;
  padding: 0.6vw 0vw;
  position: fixed;
  display: flex;
  z-index: 100;
  transition: all ease-in-out 1s;
}
.container a {
  text-decoration: none;
  color: white;
}
.white {
  background-color: white;
  color: black;
  transition: all ease-in-out 1s;
}

.innerContainer {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: Inter;
}
.innerContainer p {
  font-size: 16px;
}
.navButtons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.navLinks {
  flex: 1;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 4vw;
  font-size: 15px;
  font-weight: 500;
}
.navButtons button {
  border: none;
  outline: none;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  border-radius: 6px;
  padding: 1rem;
  margin-left: 1vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploadBtn {
  color: white;
  background-color: #7f56d9;
  gap: 5px;
}
.uploadIcon {
  background-color: #7f56d9;
  color: white;
  font-size: 20px;
}
.createBtn {
  background-color: #ff612f;
  color: white;
}

.vibrant {
  background: rgb(67, 134, 141);
  background: linear-gradient(
    225deg,
    rgba(67, 134, 141, 1) 0%,
    rgba(156, 213, 197, 1) 70%
  );
  color: white;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
a {
  text-decoration: none;
}
.first,
.second,
.third {
  width: 8px;
  height: 30px;
  background-color: white;
  margin: 0 3px;
  border-radius: 2px;
}
.first {
  transform: rotate(20deg);
}
.logo .defaultLogo {
  margin: 0 5px;
  font-family: Kanit;
  font-weight: 500;
  font-size: 35px;
  color: white;
}
.logo .black {
  margin: 0 5px;
  font-family: Kanit;
  font-weight: 500;
  font-size: 35px;
  color: #062427;
}
.trial {
  background: rgb(67, 134, 141);
  background: linear-gradient(
    225deg,
    rgba(67, 134, 141, 1) 40%,
    rgba(156, 213, 197, 1) 90%
  );
}
.hamburgerIcon {
  display: none;
}
.dropDown {
  display: none;
}
.cross {
  display: none;
}
.goBack {
  display: flex;
  align-items: center;
  gap: 5px;
  /* margin: 0 15px; */
  margin-right: 15px;
}
.goBack p {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 600;
  font-family: Eudoxus sans;
  font-family: Inter;
  opacity: 0.2;
}
.goBackIcon {
  font-size: 40px;
}
.logoutDiv {
  display: flex;
  align-items: center;
}
/* ------------- mediaqueries--------------------
 --------------------------------------------------------------- */

@media (max-width: 1100px) {
  .hamburgerIcon {
    display: block;
    font-size: 40px;
  }
  .navButtons button {
    margin: 0;
  }
  .vibrant {
    margin: 0 15px;
  }
  .navButtons {
    gap: 16px;
  }
  .navLinks {
    display: none;
  }
  .dropDown {
    display: block;
  }
  .dropDown {
    background-color: #fff;
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
  }
  .dropInnercontainer {
    padding: 16px 20px 0px 20px;
  }
  .menuList {
    text-align: left;
    display: flex;
    padding: 1rem 0px;
  }
  .dropDownLi {
    padding: 0;
  }
  .dropDownLi li {
    list-style: none;
    color: black;
    padding: 12px 0px;
    font-size: 18px;
    font-weight: 500;
    font-family: Inter;
  }
  .cross {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .closeMenu {
    font-size: 35px;
    font-weight: 600;
    color: #062427;
    text-align: right;
  }
  .logo_full {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .logo {
    font-family: Kanit;
    font-weight: 500;
    font-size: 35px;
    display: flex;
    align-items: center;
  }

  .first,
  .second,
  .third {
    width: 8px;
    height: 30px;
    background: rgb(67, 134, 141);
    background: linear-gradient(
      225deg,
      rgba(67, 134, 141, 1) 40%,
      rgba(156, 213, 197, 1) 90%
    );
    margin: 0 3px;
    border-radius: 2px;
  }
  .first {
    transform: rotate(20deg);
  }

  .logo_full p {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
    font-family: Kanit;
    font-size: 35px;
    font-weight: 500;
    color: #062427;
  }
  .menuList li button.loginBtn {
    display: none;
  }

  .menuList li button.vibrant {
    display: none;
  }
}

/*----------- mediqueries for 768px----------------
------------------------------------------------- */

@media (max-width: 768px) {
  button.loginBtn {
    display: none;
  }
  .navButtons button.vibrant {
    display: none;
  }

  .dropDown {
    height: 100vh;
  }
  .dropInnercontainer {
    /* height: 100vh; */
  }
  .menuList {
    height: 100%;
    padding: 2rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .dropDownLi li {
    padding: 10px 0px;
  }
  .menuList li button.loginBtn {
    width: 100%;
    display: block;
    padding: 18px;
    font-size: 1.8rem;
    border: 0.8px solid lightgray;
  }

  .menuList li button.vibrant {
    width: 100%;
    display: block;
    font-size: 1.8rem;
    padding: 18px;
  }

  .logoutDiv {
    display: none;
  }
  .dropDownLogout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin: 2rem 0;
    /* background-color: aquamarine; */
  }
  .dropDownLogout p {
    color: black;
    font-size: 1.8rem;
  }
  .dropDownLogout button {
    width: 100%;
    border: 0.8px solid lightgrey;
    font-size: 1.8rem;
  }
}


/*----------- mediqueries for 700px----------------
------------------------------------------------- */

@media (max-width: 700px){
  button.createBtn{
    display: none;
  }
  button.uploadBtn{
    display: none;
  }
}