.container {
  background-color: #062427;
  color: white;
  padding: 0.6vw 0vw;
}
.innerContainer {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Inter;
}
.innerContainer p {
  flex: 1;
  font-size: 17px;
}
.navButtons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navLinks {
  flex: 1;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 4vw;
  font-size: 16px;
}
.navButtons button {
  border: none;
  outline: none;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  background-color: white;
  padding: 0.7vw;
  margin-left: 1vw;
}
.vibrant {
  background: rgb(67, 134, 141);
  background: linear-gradient(
    225deg,
    rgba(67, 134, 141, 1) 0%,
    rgba(156, 213, 197, 1) 70%
  );
  color: white;
}
