.container {
  /* margin: 100px auto; */
  display: inline-block;
  width: 100%;
  height: 100vh;
}
.inner {
  margin-top: 72px;
  height: 90.2%;
  width: 50%;
  border: 1px solid black;
}
.inner iframe {
  border: 1px solid transparent;
}
