.container {
  display: inline-block;
  width: 100%;
  height: 99vh;
}
.inner {
  margin-top: 74px;
  height: 90.9%;
  display: flex;
}
.innerLeft {
  height: 100%;
  width: 50%;
}
.innerLeft iframe {
  border: none;
}
.innerRight {
  width: 50%;
}
.upperSection {
  height: 85%;
  border: 1px solid orangered;
}
.lowerSection {
  height: 15%;
  border: 1px solid orangered;
}
