.container {
  display: inline-block;
  width: 100%;
  height: 99vh;
}
.inner {
  margin-top: 70px;
  height: 90.9%;
  display: flex;
}
.innerLeft {
  height: 100%;
  width: 50%;
}
.innerLeft iframe {
  border: none;
}
.innerRight {
  width: 50%;
}
.upperSection {
  height: 85%;
  border-left: 1px solid #e5e3da;
  overflow: auto;
  scroll-behavior: smooth;
}
.lowerSection {
  height: 15%;
  border: 1px solid #e5e3da;
  background-color: #f8f5ee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lowerSection form {
  width: 85%;
  margin: 0;
  padding: 0;
  position: relative;
}
.sendIcon {
  position: absolute;
  right: -2%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}
.lowerSection input {
  outline: none;
  border: 1px solid rgb(229, 227, 218);
  background-color: white;
  width: 100%;
  font-size: 18px;
  font-family: Inter;
  padding: 15px;
  border-radius: 5px;
}
.lowerSection input::placeholder {
  color: #9ca3af;
}
.userQuery {
  padding: 30px 25px;
  border-bottom: 1px solid rgb(229, 227, 218);
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.userQuery p {
  margin: 0;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
}
.userIcon {
  width: 6%;
  font-size: 25px;
}
.logo {
  /* margin: 0 5px; */
  font-family: Kanit;
  font-weight: 500;
  font-size: 35px;
  width: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* width: 50px;
  height: 50px;
  border-radius: 50%; */
}

.first,
.second,
.third {
  width: 7px;
  height: 27px;
  background: rgb(67, 134, 141);
  background: linear-gradient(
    225deg,
    rgba(67, 134, 141, 1) 40%,
    rgba(156, 213, 197, 1) 90%
  );
  margin: 0 3px;
  border-radius: 2px;
}
.first {
  transform: rotate(20deg);
}
.botQuery {
  background-color: #f8f5ee;
}
