.itemsContainer {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 25px;
  /* border: 1px solid black; */
  border: 1px solid #e5e3da;
  border-radius: 5px;
  padding: 15px 0;
}
.itemsContainer h1 {
  text-align: center;
}
.itemsInnerContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}
.pdfIcon {
  font-size: 25px;
  /* color: blue; */
}
.file {
  /* width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  /* border-bottom: 1px solid #e5e3da; */
  /* border: 1px solid black; */
}
.innerFile {
  display: flex;
  align-items: center;
  gap: 20px;
}
.file p {
  /* width: 80%; */
  margin: 0;
  font-family: Inter;
  font-weight: 500;
  cursor: pointer;
}
