.itemsContainer {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px 0;
  position: relative;
}
.itemsContainer h1 {
  text-align: center;
}
.itemsInnerContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}
.file {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 15px;
  white-space: nowrap;
}
.pdfIcon {
  font-size: 15px;
  /* color: blue; */
}
.deleteIcon {
  cursor: pointer;
  font-size: 20px;
}
.deleteIcon:hover {
  color: crimson;
}
.innerFile {
  display: flex;
  gap: 10px;
}
.fileNameAndDateContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fileName {
  display: flex;
  align-items: center;
  gap: 5px;
}
.fileName p {
  margin: 0;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.fileName p:hover {
  text-decoration: underline;
}
.fileDateContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}
.fileLengthText,
.yearText {
  margin: 0;
  font-family: Inter;
  font-weight: 500;
  cursor: pointer;
}
.fileLengthText {
  font-size: 12px;
  color: black;
}
.yearText {
  font-size: 10px;
  color: gray;
}
.clockIcon {
  font-size: 13px;
  color: gray;
}
.addDeleteIcons {
  display: flex;
  align-items: center;
  gap: 5px;
}
.addIcon {
  font-size: 20px;
  cursor: pointer;
}
.addIcon:hover {
  color: green;
}
.emptyFolderContainer {
  text-align: center;
  font-size: 14px;
  color: gray;
  font-family: Inter;
  padding: 5px;
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}
