.itemsContainer {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
  /* border: 1px solid black; */
  /* border: 1px solid #e5e3da; */
  border-radius: 5px;
  padding: 15px 0;
}
.itemsContainer h1 {
  text-align: center;
}
.itemsInnerContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}
.pdfIcon {
  font-size: 20px;
  /* color: blue; */
}
.deleteIcon {
  cursor: pointer;
  font-size: 20px;
}
.deleteIcon:hover {
  color: crimson;
}
.file {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 15px;
}
/* .uploadBtn {
  border: none;
  outline: none;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  border-radius: 6px;
  padding: 0.7vw;
  margin-left: 1vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ff612f;
  gap: 10px;
}
.uploadIcon {
  background-color: #ff612f;
  color: white;
  font-size: 20px;
} */
.innerFile {
  display: flex;
  gap: 10px;
}
.fileNameAndDateContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fileName {
  display: flex;
  align-items: center;
  gap: 5px;
}
.fileName p {
  margin: 0;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.fileName p:hover {
  text-decoration: underline;
}
.fileDate {
  display: flex;
  gap: 5px;
  align-items: center;
}
.fileDate p {
  margin: 0;
  font-family: Inter;
  font-weight: 500;
  font-size: 10px;
  cursor: pointer;
  color: gray;
}
.clockIcon {
  font-size: 13px;
  color: gray;
}
