.container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.container h1 {
  font-size: 38px;
  font-family: Eudoxus Sans;
}
.container ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
