.container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.container h1 {
  font-size: 38px;
  font-family: Eudoxus Sans;
}
.container ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
.container button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 12px 20px;
  font-family: Inter;
  font-size: 15px;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.createBtn {
  /* background-color: #7f56d9; */
  background-color: #ff612f;
}
.uploadBtn {
  background-color: #7f56d9;
}
.uploadIcon {
  background-color: #7f56d9;
  color: white;
  font-size: 20px;
}
/* .createIcon {
  font-size: 20px;
  color: white;
  background-color: transparent;
} */
