.container {
  width: 100%;
  /* height: 100vh; */
  height: 100%;
  background-color: #062427;
  display: inline-block;
  z-index: 10;
  text-align: center;
}
.container section {
  width: 75%;
  margin: 220px auto;
}
.container h1 {
  margin: 0;
  color: white;
  font-size: 55px;
  font-family: Eudoxus Sans;
}
.container p {
  color: white;
  font-family: Eudoxus Sans;
  font-size: 18px;
}
.container h1 span {
  color: #edb01a;
}
.container button {
  border: none;
  outline: none;
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  border-radius: 8px;
  background-color: #ff612f;
  color: white;
  padding: 0.8vw;
  margin: 30px 0px;
  cursor: pointer;
}

.heroSectionImg img {
  height: 100%;
  width: 100%;
  margin-top: 150px;
  border-radius: 7.5px;
}