.container {
  width: 100%;
  background-color: #062427;
  display: inline-block;
  z-index: 10;
  text-align: center;
}
.container section {
  width: 75%;
  margin: 22rem auto;
}
.container h1 {
  margin: 0;
  color: white;
  font-size: 5rem;
  font-family: Eudoxus Sans;
}
.container p {
  color: white;
  font-family: Eudoxus Sans;
  font-size: 1.7rem;
}
.container h1 span {
  color: #edb01a;
}
.container button {
  border: none;
  outline: none;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.8rem;
  /* border-radius: 0.8rem; */
  border-radius: 0.5rem;
  background-color: #ff612f;
  color: white;
  padding: 1.2rem;
  margin: 3rem 0;
  cursor: pointer;
}

.heroSectionImg img {
  height: 100%;
  width: 100%;
  margin-top: 15rem;
  border-radius: 0.75rem;
}

/* ------------- mediaqueries--------------------
 --------------------------------------------------------------- */

@media (max-width: 1024px) {
  .container section {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .container section {
    margin: 20rem auto;
  }
  .container h1 {
    font-size: 4rem;
  }
}
@media (max-width: 460px) {
  .container section {
    margin: 15rem auto;
  }
  .container h1 {
    font-size: 3.5rem;
  }
  .container p {
    font-size: 1.6rem;
  }
  .heroSectionImg img {
    margin-top: 10rem;
  }
}
