.container {
  width: 100%;
  height: 100%;
  margin: 120px 0px;
  background-color: lightpink;
}

.innerContainer {
  background-color: lightskyblue;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.threeCards {
  height: 370px;
  width: 370px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.threeCards img {
    width: 100%;
}
.hrLine {
    border: 1px solid black;
    width: 100%;
}