.container {
  width: 100%;
  height: 100%;
  padding: 24rem 0;
  background-color: #f8f5ee;
  display: none;
}

.innerContainer {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.threeCards {
  width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hrLine {
  border: 1px solid black;
  opacity: 0.3;
  width: 100%;
}
.threeCards h1 {
  font-family: Eudoxus sans;
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}
.threeCards p {
  font-family: Inter;
  line-height: 1.5;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
}
.icon {
  font-size: 8rem;
  color: white;
  background-color: #062427;
  padding: 1.8rem;
  border-radius: 50%;
  text-align: center;
}

/* ------------- mediaqueries--------------------
 --------------------------------------------------------------- */

@media (max-width: 1024px) {
  .innerContainer {
    width: 90%;
  }
  .threeCards p {
    width: 90%;
  }
}
