.container {
  width: 100%;
  height: 100%;
  margin: 120px 0px;
}
.innerContainer {
  width: 75%;
  margin: 0 auto;
  display: flex;
}
.left {
  width: 55%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.upBox {
  height: 400px;
  position: relative;
  padding: 50px;
  border-radius: 15px;
}
.upBox h1 {
  font-family: Eudoxus Sans;
  margin: 0;
  font-size: 38px;
}
.upBox p {
  font-family: Eudoxus Sans;
  font-size: 18px;
  line-height: 1.5;
}

.downBox {
  margin-top: 30px;
  /* margin-left: 24%; */
  width: 60%;
  height: 600px;
  padding: 50px;
  border-radius: 15px;
  position: relative;
  
}
.downBox h1 {
  font-family: Eudoxus Sans;
  margin: 0;
  font-size: 38px;
}
.downBox p {
  font-family: Eudoxus Sans;
  font-size: 18px;
  line-height: 1.5;
}

.right {
  height: 600px;
  padding: 50px;
  margin-left: 30px;
  margin-top: 200px;
  border-radius: 15px;
  position: relative;
}

.right h1 {
  font-family: Eudoxus Sans;
  margin: 0;
  font-size: 38px;
}
.right p {
  font-family: Eudoxus Sans;
  font-size: 18px;
  line-height: 1.5;
}

.downBox,
.upBox,
.right {
  background: rgb(67, 134, 141);
  background: linear-gradient(
    225deg,
    rgba(67, 134, 141, 1) 0%,
    rgba(156, 213, 197, 1) 70%
  );
  color: white;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px lightgray;
}
.upBox img {
  border-radius: 15px;
  position: absolute;
  width: 100%;
  right: -12%;
  bottom: -2%;
  transform: scale(1.1);
}
.downBox img {
  border-radius: 15px;
  position: absolute;
  width: 100%;
  right: -8%;
  bottom: -8%;
}
.right img {
  border-radius: 15px;
  position: absolute;
  width: 100%;
  right: -8%;
  bottom: -8%;
}
