.container {
  width: 100%;
  margin: 12rem 0;
}
.innerContainer {
  width: 75%;
  margin: 0 auto;
  display: flex;
}
.left {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.upBox {
  width: 100%;
  height: 40rem;
  position: relative;
  padding: 5rem;
  border-radius: 1.5rem;
}
.upBox h1,
.downBox h1,
.right h1 {
  font-family: Eudoxus Sans;
  margin: 0;
  font-size: 3.6rem;
}

.upBox p,
.downBox p,
.right p {
  font-family: Eudoxus Sans;
  font-size: 1.6rem;
  line-height: 1.5;
}

.downBox {
  margin-top: 3rem;
  width: 70%;
  height: 60rem;
  padding: 5rem;
  border-radius: 1.5rem;
  position: relative;
}

.right {
  width: 50%;
  height: 70rem;
  padding: 5rem;
  margin-left: 3rem;
  margin-top: 20rem;
  border-radius: 1.5rem;
  position: relative;
}

.downBox,
.upBox,
.right {
  background: rgb(67, 134, 141);
  background: linear-gradient(
    225deg,
    rgba(67, 134, 141, 1) 0%,
    rgba(156, 213, 197, 1) 70%
  );
  color: white;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px lightgray;
}
.upBox img {
  border-radius: 15px;
  position: absolute;
  width: 100%;
  right: -12%;
  bottom: -2%;
  transform: scale(1.1);
}
.downBox img {
  border-radius: 15px;
  position: absolute;
  width: 100%;
  right: -8%;
  bottom: -18%;
}
.right img {
  border-radius: 15px;
  position: absolute;
  width: 100%;
  right: -8%;
  bottom: -3%;
}

/* ------------- mediaqueries--------------------
 --------------------------------------------------------------- */

@media (max-width: 1024px) {
  .innerContainer {
    width: 90%;
  }
  .downBox {
    width: 80%;
  }
}
@media (max-width: 820px) {
  .upBox {
    height: 50rem;
    position: relative;
    padding: 5rem;
    border-radius: 1.5rem;
    min-width: fit-content;
  }
  .left {
    align-items: center;
  }
  .downBox {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .innerContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left {
    min-width: 80%;
    justify-content: center;
    align-items: center;
  }
  .right {
    height: 70rem;
    margin: 4rem 0;
    margin-left: 0rem;
  }
  .upBox,
  .downBox,
  .right {
    height: 45rem;
    min-width: 39.5rem;
    padding: 3rem;
  }
}
@media (max-width: 460px) {
  .innerContainer {
    gap: 5rem;
  }
  .left {
    width: 100%;
    gap: 5rem;
  }
  .upBox {
    height: 42rem;
  }
  .upBox img {
    border-radius: 15px;
    position: absolute;
    width: 100%;
    right: -12%;
    bottom: -1%;
    transform: scale(1.1);
  }
  .downBox {
    height: 60rem;
  }
  .right {
    height: 58rem;
  }
  .upBox,
  .downBox,
  .right {
    min-width: 0;
    width: 100%;
  }
  .upBox h1,
  .downBox h1,
  .right h1 {
    font-size: 3.2rem;
  }
  .upBox p,
  .downBox p,
  .right p {
    font-size: 1.6rem;
  }
}
/* @media (max-width: 380px) {
  .right {
    height: 55rem;
  }
} */
/* 
@media (max-width: 380px) {
  .upBox {
    height: 47rem;
  }
  .downBox {
    height: 55rem;
  }
} */
