.modalContainer {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 35%;
  background-color: white;
  font-family: Inter;
  border-radius: 6px;
  padding: 30px;
}
.buttonConatiner {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
.buttonConatiner button {
  width: 40%;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 12px 0;
  font-family: Inter;
  font-size: 16px;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonConatiner button:first-child {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.buttonConatiner button:nth-child(2) {
  background-color: red;
}
.closeIcon {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 4%;
  font-size: 25px;
}
