.modalContainer {
  position: absolute;
  width: 30%;
  background-color: white;
  /* Adjust the alpha (last) value for transparency */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  /* backdrop-filter: blur(50px); */
  font-family: Inter;
  border-radius: 6px;
}
.modalContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.modalContainer form input {
  padding: 0;
  /* border: 1px solid #d7d4c9; */
  border: none;
  /* box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5); */
  /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); */
  border: 1px solid rgb(222, 219, 208);
  outline: none;
  width: 100%;
  font-size: 16px;
  font-family: Inter;
  padding: 10px;
  border-radius: 3px;
  margin: 15px 0;
}
/* .modalContainer form button {
  width: 50%;
  background-color: #ff612f;
  color: white;
  border: none;
  padding: 10px 0;
  font-family: inherit;
  font-size: 15px;
} */
.modalContainer button {
  width: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 12px 0;
  font-family: Inter;
  font-size: 16px;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff612f;
  /* margin: 20px 0; */
}
.modalContainer h2 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
  /* text-align: center; */
  text-transform: capitalize;
  /* font-family: Eudoxus Sans; */
  font-family: Inter;
  font-weight: 500;
}
.closeIcon {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 4%;
  font-size: 25px;
}
